@import '../css/_variables/variables.scss';
@import '../css/_functions/function.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    @include reset();
}

header{
    background-color: $blackColor;
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-band{
        width: 100px;
        }

        #btn-open-menu{
            display: block;
        }

        #btn-close-menu{
            display: none;
        }

        #btn-close-menu, #btn-open-menu{
            background: transparent;
            color: $whiteColor;
            font-size: 1.5rem;
            border: none;
            cursor: pointer;
        }

        #menu-header{
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            position: absolute;
            top: 70px;
            left: 0;
            background-color: $blackColor;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;

            &.show-menu{
                display: flex;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }

            li{
                text-align: center;

                a{
                    color: $whiteColor;
                    font-size: 1rem;
                    font-weight: 500;
                    border: transparent;
                    transition: border 0.5s ease;

                    &:hover{
                        border-bottom: 1px solid $whiteColor;
                    }
                }
            }
        }
        
    }
    @media (min-width: 768px){
        nav{
            #btn-open-menu, #btn-close-menu{
                display: none !important;
            }

            #menu-header{
                display: flex !important;
                position: static; // remove o absolute
                opacity: 1 !important;
                visibility: visible !important;
                transform: scaleY(1) !important;
                pointer-events: auto !important;
                flex-direction: row;
                gap: 1.5rem;
                padding: 0;
                width: auto;
            }
        }
    }
}









/*
.path{
    background: linear-gradient(135deg, #ffffff 0, #fff 120px,
    #ff0000 120px);
}
.guitar{
    height: 100px;
    mix-blend-mode: multiply;
    margin-left: 60px;
}
*/


