@import url(../css/variables.css);
@import url(../css/menu.css);

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

.hero{
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../images/banner_1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

h1{
    color: var(--color--whiteColor);
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    /*animation: glow 2s ease-in-out infinite alternate;*/
}

/*@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff;
  }
  to {
    text-shadow: 
      0 0 20px var(--color--whiteColor),
      0 0 40px var(--color--blackColor);
  }
}
*/
.members-card{
    width: 100%;
    background-color: blue;
}

.container-cards{
    display: flex;
    width: 100%;
}

.card-black, .card-white{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 338px;
}

.card-black{
    color: var(--color--whiteColor);
    background-color: var(--color--blackColor);
}

.card-white{
    color: var(--color--blackColor);
    background-color: var(--color--whiteColor);
}

.card-black img, .card-white img {
  margin-top: auto;
  height: 280px;
  object-fit: contain; 
}

.card-black button{
    margin-top: 15px;
    background-color: var(--color--whiteColor);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-black button:hover{
    background-color: var(--color--blackColor);
    color: var(--color--whiteColor);
    border: 1px solid var(--color--whiteColor);
}

.card-white button{
    margin-top: 15px;
    background-color: var(--color--blackColor);
    color: var(--color--whiteColor);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-white button:hover{
    background-color: var(--color--whiteColor);
    color: var(--color--blackColor);
    border: 1px solid var(--color--blackColor);
}

.container-cards h3{
    margin: 10px;
}

.sobre{
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url("../images/banner_sobre.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo-about{
    position: absolute;
    display: block;
    top: 5%;
    left: 62%;
    width: 100px;
}

.legend-about{
    position: absolute;
    top: 18%;
    left: 62%;
    color: var(--color--whiteColor);
    margin-right: 10px;
    line-height: 1.3;
}
